/**
 * 		Grupp 18 - 2012-12-10
 * 	Name:	Daniel Rönnkvist
 *	file: 	homestyle.css
 *	Desc:	stylesheet for the home page.
 */

body
{
	margin: 4% 10%;
	font-family: Verdana;
	cursor: default;
	background-color: #E6E6E6;
	min-width: 600px;
}

/**
 *		The color of marked objects
 */
::selection
{
	background:#cc0000;
	color:#fff;
}

/**
 *		CSS for the DIVS
 */
div.menu
{
	position: fixed;
	left: 10%;
	top: 0%;

	background-image:url('../images/menyBG.png');
	background-size: 100% 100%;

	width: 80%;
	height: 8%;
	min-width: 600px;
	min-height: 50px;
}
.menuItem
{
	width:145px;
	height: 40px;
	overflow: hidden;
	color: #929292;
}
.menuItem:hover
{
	color: #4A4A4A;
}
.title
{
	background-color: #D3D3D3;
	width: 100%;
	height: 25%;
}
.list
{
	float:left;
	width: 40%;
	height: 150%;
	overflow: hidden;
	background-color: #F3F3F3;
}
.selected
{
	float: left;
	width: 60%;
	height: 75%;
	background-color: #E8E8E8;
}
.is
{
	margin-left: 40%;
	width: 60%;
	height: 75%;
	background-color: #D6D6D6;
	overflow: auto;
}

/**
 *		Table CSS
 */
td.menu, td.selected
{
	font-size: 25px;
	line-height: 160%;
}
td.selected
{
	color: #4A4A4A;
}
td.menu:hover
{
	color: #4A4A4A;
}
table.menuTable
{
	height: 40px;
}

/**
 *		links
 */
a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color:#4A4A4A;
}

/**
 *		Paragraphs
 */
p
{
	margin-left: 15px;
}

.tagline
{
	text-align: center;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
.menuText
{
	overflow: hiden;
}
/**
 *		Images
 */
img.menu
{
	width: 40px;
}

/***
 *  Headers
 */
h1.titleHeader
{
	text-align: center;
	font-size: 50px;
	margin-bottom: 1px;
}
.titleSub
{
	text-align: center;
	font-size: 10px;
}