/**
 * 		Grupp 18 - 2012-12-10
 * 	Name:	Daniel Rönnkvist
 *	file: 	homestyle.css
 *	Desc:	stylesheet for the home page.
 */

body
{
	margin: 4% 10%;
	font-family: Verdana;
	font-size: 15px;
	cursor: default;
	background-color: #E7E8FE;
	min-width: 600px;
	color: #FF9C00;
	color: #4A4A4A;
}

/**
 *		The color of marked objects
 */
::selection
{
	background:#cc0000;
	color:#fff;
}

/**
 *		CSS for the DIVS
 */
div
{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
	background-color: #E9E9E9;
}
div.menu
{
	position: fixed;
	left: 19.95%;
	top: 0%;

	border: 1px solid black;

	background-image:url('../images/menyBG.png');
	background-size: 100% 100%;

	width: 59.95%;
	height: 8%;
	min-height: 50px;
}
div.menuItem
{
	width:145px;
	height: 40px;
	min-width: 0px;
	overflow: hidden;
	color: #929292;
}
.menuItem:hover
{
	color: #4A4A4A;
}
.title
{
	width: 75%;
	border: 1px solid black;
}
.selected
{
	text-align: center;
	margin-top: 10px;
	width: 75%;
	height: 79%;
	border: 1px solid black;
	margin-top: 0px;

}
.head
{
	background-image:url('../images/divhead.png');
	background-repeat: no-repeat;
	width: 200px;
	color: #FF9C00;
	background-color: #E7E8FE;
	text-indent: 20px;
	text-align: left;
	margin-top: -15px;
	margin-left: 13%;
	margin-bottom: -23px;
}
div.partlist
{
	border: 1px solid black;
	width: 75%;
	height: 700px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.contactMember
{
	min-width: 0px;
	padding: 1px;
	float: left;
}

.footnote
{
	text-align: center;
	font-size: 11px;
	margin-top: 30px;
	width: 75%;
	border: 1px solid black;

}
.search
{
	height: 25%;
	border: 1px solid black;
	width: 75%;
	font-size: 23px;
	overflow: hidden;
}


/**
 *		Table CSS
 */
td.menu, td.selected
{
	font-size: 25px;
	line-height: 160%;
}
td.selected
{
	color: #4A4A4A;
}
td.menu:hover
{
	color: #4A4A4A;
}
table
{
	border-collapse:collapse;
}
.menuTable
{
	height: 40px;
}

.info
{
	margin-left: auto;
	margin-right: auto;
}
.partlist
{
	table-layout: fixed;
	width: 90%;
}
tr.header
{
	background-color: #FF9C00;
	color: #0E53A7;
}
tr.parts:nth-child(even)
{
	color: #D3D3D3;
	background: #0E53A7;
}

tr.parts:nth-child(odd)
{
	color: #D3D3D3;
	background-color:  #6899D3;
}
/**
 *		links
 */
a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color:#4A4A4A;
}

/*
 *		Search field stuffs
 */

/*
 *		spans!
 */
span.left
{
	width: 400px;
	margin-left: 0.5%;
	text-align: right;
	float: left;
}
span.right
{
	width: 400px;
	margin-right: 54%;
	text-align: right;
	float: right;
}

/*
 *		Form
 */
form
{
	margin: 10px 50px;
}

/**
 *		Paragraphs
 */
p
{
	margin-left: 15px;
}

.tagline
{
	padding-right: 10px;
	color: #FF9C00;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: right;

}
.menuText
{
	overflow: hidden;
}
.pages
{
	text-align: center;
}
p.partlist
{
	margin-left: auto;
	margin-right: auto;
}
/**
 *		Images
 */
img.menu
{
	width: 40px;
}

/***
 *  Headers
 */
h1.titleHeader
{
	text-align: center;
	color: #FF9C00;
	font-size: 50px;
	margin-bottom: 1px;
}
.titleSub
{
	color: #FF9C00;
	text-align: center;
	font-size: 10px;
}
/*
 *		Inputs
 */
input.main-search
{
	width: 296px;
	height: 29px;
}
input.main-searchfield
{
	margin-right: -8px;
	height: 21px;
	outline: none;
}
input
{
	border: none;
}
.submit
{
	width: 23px;
	padding-top: 8px;
	position: absolute;
}
.pil
{
	width: 15px;
}