/**
 * 		Grupp 18 - 2012-12-10
 * 	Name:	Daniel Rönnkvist
 *	file: 	homestyle.css
 *	Desc:	stylesheet for the home page.
 */

body
{
	margin: 0px 0px;
	font-family: Verdana;
	cursor: default;
}

/* 
 *		The color of marked objects 
 */
::selection
{
	background:#cc0000;
	color:#fff;
}

/* 
 *		CSS for the DIVS 
 */
div.menu
{
	background-image:url('../images/menyBG.png');
	background-position: left;
	background-size: 100% 100%;
	width: 10%;
	float: left;
	height: 100%;
	color: #4A4A4A;
}
div.search
{
	background-color: #DEDEDE;
	width: 90%;
	height: 25%;
	float: left;
	font-size: 60px;
	color: #4A4A4A;
}
div.list
{
	float:left;
	width: 30%;
	height: 75%;
	background-color: #F3F3F3;
	overflow: auto;
}
div.selected
{
	float: left;
	width: 30%;
	height: 75%;
	background-color: #E8E8E8;
}
div.is
{
	float: left;
	width: 30%;
	height: 75%;
	background-color: #D6D6D6;
	overflow: auto;
}

/* 
 *		Table CSS 
 */
td.menu, td.selected
{
	font-size: 40px;
	text-indent: 10px;
	color: #929292;
	line-height: 160%;
}
td.selected
{
	color: #4A4A4A;
}
td.menu:hover
{
	color: #4A4A4A;
}
table
{
	border-collapse: collapse;
	width: 100%;
	border-color: #929292;
	outline-width: 0px;
}

/*
 *		links
 */
a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color:#4A4A4A;
}

/*
 *		Paragraphs
 */
p
{
	margin-left: 5px;
}

/*
 *		Images
 */
img
{
	width: 40px;
}