/**
 * 		Grupp 18 - 2012-11-27
 * 	Name:	Daniel Rönnkvist
 *	file: 	style.css
 *	Desc:	hold generic layout of website
 */

body
{
	margin: 0px 0px;
	height: 100%;
	font-family: Verdana;
}

/**
 *
 * 		Divisions
 *
 */
div.menu
{
	background-image: url('../images/menubackground.png');
	background-position: right bottom;
	width: 120px;
	min-width: 40px;
	position: absolute;
	height: 100%;
	color: black;
	overflow: hidden;
}
div.search
{
	margin-left: 3%;;
	background-color: #D4D4D4;
	width: 90%;
	height: 25%;
	float: left;
}
div.list
{
	margin-left: 3%;
	float:left;
	width: 30%;
	height: 100%;
	background-color: #EBEBEB;
	overflow: auto;
}
div.selected
{

	float: left;
	width: 30%;
	height: 75%;
	background-color: #EFEFEF;
}
div.is
{
	float: left;
	width: 30%;
	height: 75%;
	background-color: #F2F2F2;
	overflow: auto;
}

/**
 *
 * 		Images
 *
 */
img.select
{
	margin-top: 10%;
	width: 50%;
}
img.menu
{
	height: 40px;
}
ul
{
	margin-top: 5%;
	margin-left: 5%;
	font-size: 20px;
}

/**
 *
 * 		Tables
 *
 */
table, th, td
{
	border-collapse: collapse;
	text-align: center;
}

td.menu
{
	text-align: left;
}

/**
 * 		Inputs
 */
input
{
	margin-top: 1%;
	margin-left: 1%;
}

/**
 * 		Paragraphs
 */
p
{
	font-size: 14px;
}

/**
 * 		links
 */
a
{
	color: black;
}